Package: de.ng.dockshift
Name: DockShift
Version: 1.0-1
Description: 
Section: Tweaks
Depends: firmware (>= 7.0), mobilesubstrate, preferenceloader
Priority: optional
Architecture: iphoneos-arm
Author: luke
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

